.card {
  margin: 120px auto;
  max-width: 800px;
  border-radius: 4px;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1d2021;
}

.title {
  color: white;
}

.link {
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #928374;
}

.link:last-child {
  border: none;
}

@media screen and (max-width: 720px) {
  .card {
    margin: 30px auto;
  }
}