.press {
  height: 400px;
}

.title {
  color: white;
  margin: 2rem 0;
  font-size: 36px;
  text-align: center;
}

.quotes {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  width: 80%;
  margin: 0 auto;
}

.quote {
  font-style: italic;
  font-weight: 200;
  font-size: 18px;
  color: white;
  margin-bottom: 1rem;
  width: 500px;
}

.mark {
  font-size: 3rem;
  margin-right: 2rem;
}

.author {
  color: white;
  text-align: right;
}