.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: #1d2021;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.logo {
  width: 200px;
}

.copy {
  color: white;
  font-size: 14px;
}