.card {
  margin: 120px auto;
  max-width: 800px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #504945;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #282828;
}

.posts-list {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}