.title {
  text-align: center;
  margin-bottom: 2rem;
}

.actions {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

.actions button:first-child {
  background-color: crimson;
}

.actions button:last-child {
  background-color: #282828;
}

.actions button {
  width: 100px;
}