.modal {
  width: 90%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cross {
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem;
}

.cross:hover {
  color: crimson;
}

.title {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 720px) {
  .cross {
    font-size: 1.3rem;
  }
}