.wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  flex: 1 1 100%;
}

.input {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  resize: none;
  color: white;
  background-color: #7c6f64;
  padding: 1rem 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
  outline: none;
  border-bottom: 2px #fabd2f solid;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.input.error {
  background-color: rgba(255, 193, 186, 0.3);
  border-bottom: 2px #fb4934 solid;
}

.input::placeholder {
  color: #cfcfcf;
}