.card {
  max-width: 400px;
  margin: 160px auto 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2rem;
  text-align: center;
  font-weight: 200;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

.button {
  background-color: #282828;
}

.no-account {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 720px) {
  .card {
    margin: 60px auto;
  }
}