.how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: linear-gradient(334deg, rgba(220, 55, 55, 0.45) 0%, rgba(59, 132, 134, 0.45) 47%, rgba(222, 94, 40, 0.45) 100%);
  background-size: 180% 180%;
  animation: gradient-animation 6s ease infinite;
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
}

.title {
  color: white;
  margin: 2rem 0;
  font-size: 36px;
}

.steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin-bottom: 60px;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 1136px) {
  .steps {
    justify-content: center;
  }
}