.title {
  color: white;
  margin: 2rem 0;
  font-size: 36px;
  text-align: center;
}

.quotes {
  display: flex;
  justify-content: space-evenly;
  gap: 10rem;
  width: 80%;
  margin: 0 auto 60px auto;
}

.card {
  max-width: 400px;
}

.quote {
  font-style: italic;
  font-weight: 200;
  font-size: 18px;
  color: white;
  margin-bottom: 1rem;
}

.mark {
  font-size: 3rem;
  margin-right: 2rem;
}

.author {
  color: white;
  text-align: right;
}

@media screen and (max-width:1020px) {
  .quote {
    font-style: italic;
    font-weight: 200;
    font-size: 16px;
    color: white;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width:860px) {
  .title {
    font-size: 30px;
  }

  .quotes {
    align-items: center;
    flex-direction: column;
  }
}