.post {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #928374;
  transition: background-color linear 200ms;
}

.post:hover {
  background-color: #a89984;
}

.details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: right;
}

.number {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1;
  color: black;
  background-color: white;
  padding: 0.6rem;
  border-radius: 8px;
  -webkit-box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.75);
}